alias php="docker-compose exec php-fpm php"
alias artisan="docker-compose exec php-fpm php artisan"
alias mysql="docker-compose exec mysql mysql -udeployer -p deployer"
alias logs="docker-compose logs"
